.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background: #FFFFFF;
    z-index: 2;
    min-width: 200px;
    padding: 10px;
}